on: push

name: lint
jobs:
  tsc:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@master
      - name: Extract node version
        run: echo "NODE_VERSION=$(cat .node_version)" >> $GITHUB_ENV
      - name: Set Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - run: npm ci
      - name: npm run lint
        run: npm run lint
