name: Publish GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  publish_gh_pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 1
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - name: Build page
        run: |
          npm ci
          npm run build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
